.wraper{
   margin-right: auto;
   margin-left:  auto;
   max-width: 1200px;
   background: tomato;
   margin: 50px;
   padding: 50px;
}
.card{
   background: rgb(228, 27, 27);
   border: 2px solid #aaaaaa;
   // height: 100px;
   // width: call(100%/8);
   border-radius: 5px;
   // line-height: 0;
}
.card-body{

}
.card-img{
   height: 100%;
   width: 100%;
   // line-height: 0;
}