$prymary: #ddd;
$dekstop: 768px;

.items{
   display: flex;
   overflow-x: auto;
}

.items::-webkit-scrollbar{
   display: none;
}

.items .item{
   min-width: 90px;
   max-width: 90px;
   height: 230px;
}

.sub-item{
   height: 50%;
   padding: 1px;
}

.sub-item-categori{
   height: 100%;
   background:#fff;
   display: flex;
   border: 1px solid #ddd;
   border-radius: 2px;
}

.sub-item:hover{
   background:#aaa;
   border-radius: 2px;
}

.menu-image{
   height: 100%;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.menu-title{
   background: #fff;
   height: 50px;
   text-align: center;
   padding-right: 14px;
   padding-left: 14px;
   line-height: 16px;
   font-size: 15px;
   color: #545454;
}

@media (min-width: $dekstop){
   .items .item{
      min-width: 130px;
      max-width: 130px;
      height: 330px;
   }
}
