.card-multy-file{
   height: 200px;
   width: 400px;
   background: lime;
}
.multy-file{
   display: inline-block;
   background: lightsalmon;
   width: 50%;
   height: 50%;
}
.multy{
   display: none;
}














// 


.wrapper-iklan{
   background: #ffffff;
   margin-right: auto;
   margin-left:  auto;
   width: 1200px;
}

.card-iklan{
   display: flex;
   min-height: 100vh;
}

.sub-card-iklan{
   flex: 1;
   background: #ffffff;
   margin: 10px;
}





.custom-file-input {
   display: inline-block;
   position: relative;
   border: 1px solid rgba(0, 0, 0, .5);
   background-image: url('https://content.icarcdn.com/styles/article_cover/s3/field/article/cover/2019/toyota-hadirkan-calon-mobil-travel-premium-123.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   padding: 5px;
   height: 150px;
   width: 150px;
}

.custom-file-input input{
   visibility: hidden;
   width: 150px;
   height: 150px;
}

.icon-plus-upload{
   position: absolute;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   font-size: 25px;
   color: aqua;
}


.icon-close-image{
   position: absolute;
   font-size: 25px;
   color: rgba(0, 0, 0, .5);
   top: 5px;
   right: 5px;
}

// .custom-file-input::before{
//    content: 'pilih';
//    display: block;
//    background: -webkit-repeating-linear-gradient(-180deg,yellow,pink);
//    background: -o-linear-gradient(-180deg,yellow,pink);
//    background: linear-gradient(-180deg,yellow,pink);
//    border: 3px solid #dca602;
//    border-radius: 10px;
//    padding: 5px 0;
//    outline: none;
//    white-space: nowrap;
//    cursor: pointer;
//    font-weight: bold;
//    text-align: center;
//    font-size: 10pt;
//    position: absolute;
//    left: 0;
//    right: 0;
// }

// .custom-file-input:hover::before{
//    border-color: lime;
// }

// .custom-file-input:active::before{
//    border-color: rgb(255, 0, 179);
// }





