.tombol-btn{
   color: #FFFFFF;
   font-size: 1rem;
   border-radius: 4px;
   background-position: center;
   font-weight: 600;
   outline: none;
   padding: 0 16px;
   position: relative;
   cursor: pointer;
   display: inline-block;
   background: #FA591D radial-gradient(circle,transparent 1%,#FA591D 1%) center/15000%;
   border: none;
   text-indent: initial;
   vertical-align: middle;
}

.tombol-default{
   margin-top: 15px;
   margin-bottom: 15px;
   height: 40px;
   line-height: 20px;
}

.tombol-small{
   height: 30px;
   line-height: 15px;
}

.tombol-outline{
   color: #FA591D;
   font-size: 1rem;
   height: 40px;
   line-height: 20px;
   border-radius: 4px;
   background-position: center;
   font-weight: 800;
   outline: none;
   padding: 0 16px;
   position: relative;
   cursor: pointer;
   display: inline-block;
   background: transparent radial-gradient(circle,transparent 1%,transparent 1%) center/15000%;
   border: 1px solid #FA591D;
   text-indent: initial;
   vertical-align: middle;
   margin-top: 15px;
   margin-bottom: 15px;
}

.tombol-block{
   width: 100%;
}

.tombol-click:hover{
   background: rgb(252, 70, 4);
}

