.wrapper-detail{
   margin-right: auto;
   margin-left:  auto;
   width: 1200px;
}

.col-product{
   height: 500px;
   display: flex;
}

.box-image{
   width: 40%;
}

.primary-image{
   height: 80%;
   box-sizing: border-box;
   background: white;
}

.sub-image{
   display: flex;
   height: 20%;
   margin-top: 5px;
}

.image-menu{
   width: 25%;
   box-sizing: border-box;
}

.image-menu:hover{
   border:1px solid rgba(0, 0, 0, .3);
   // box-shadow: rgba(0, 0, 0, .2);
}

.box-list-detail{
   width: 60%;
   box-sizing: border-box;
}

.body-list-product{
   height: 80%;
   background: #ffffff;
   padding-left: 10px;
}

.product-name-header{
   height: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px 0 20px 0;
   box-sizing: border-box;
}

.name-product{
   font-size: 25px;
   font-weight: 400;
   color: rgba(0, 0, 0, .8);
}

.prince-product{
   font-size: 28px;
   font-weight: bold;
}

.product-detail-list{
   height: 60%;
}

.cart-list{
   display: flex;
   height: 20%;
   align-items: center;
}

.key-list{
   width: 15%;
   color: rgba(0, 0, 0, .7);
}

.value-list{
   color: rgba(0, 0, 0, .7);
}

.show-image{
   background: rgb(248, 244, 6);
   height: 60%;
}

.footer-list-product{
   height: 20%;
   display: flex;
   background: #ffffff;
   margin-top: 5px;
   padding-left: 10px;
}

.text-share{
   display: flex;
   align-items: center;
   color: rgba(0, 0, 0, .7);
}

.box-icon-sosmed{
   display: flex;
   flex: 1;
   align-items: center
}

.share-icon-sosmed{
   background: rgba(0, 0, 0, .2);
   margin-left: 25px;
   width: 35px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   text-decoration: none;
}

.col-tex-description{
   margin: 20px 0;
}

.description-product{
   color: rgba(0, 0, 0, .8);
   font-weight: bold;
   margin: 5px 0 5px 0;
}

.text-description-product{
   background: #ffffff;
   color: rgba(0, 0, 0, .7);
   padding: 10px;
}


