.wrapper-reset-password{
   margin-right: auto;
   margin-left:  auto;
   width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
}

.title-reset-password{
   margin-bottom: 20px;
   color: rgba($color: #000000, $alpha: .5)
}

.card-reset-form{
   width: 300px;
   border: 1px solid #ced4da;
   padding: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 4px;
}