.area-text{
   width: 100%;
   border: 1px solid;
   border-radius: 4px;
   // height: 39px;
   outline: none;
   padding-left: 15px;
   box-sizing: border-box;
   transition: .3s;
   color:rgba(0, 0, 0, .5);
   font-size: 15px;
   outline: none;
}

.title-area-text{
   color: $text;
   font-weight: 400;
   // margin-top: 10px;
   margin-bottom: 5px;
}