.wrapper-detail{
   margin-right: auto;
   margin-left:  auto;
   // background: #0e80e4;
   width: 1200px;
}

.col-product{
   // background: lightsalmon;
   height: 500px;
   display: flex;
}

.col-tex-description{
   background: lime;
   // height: 100px
}

.box-image{
   background: seagreen;
   width: 40%;
}

.primary-image{
   background: #0e80e4;
   height: 80%;
   box-sizing: border-box;
}

.sub-image{
   display: flex;
   background: white;
   height: 20%;
}

.image-menu{
   width: 25%;
   border:1px solid rgba(0, 0, 0, .7);
   box-sizing: border-box;
}

.box-list-detail{
   // background: saddlebrown;
   width: 60%;
   padding-left: 10px;
   box-sizing: border-box;
}

.body-list-product{
   height: 80%;
   background: #ffffff;
}

.product-name-header{
   background: pink;
   height: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px 0 20px 0;
   box-sizing: border-box;
}

.name-product{
   font-size: 25px;
   font-weight: 400;
}

.prince-product{
   font-size: 28px;
   font-weight: bold;
}

.product-detail-list{
   // background: brown;
   height: 60%;
}

.cart-list{
   display: flex;
   // flex: 1;
   height: 20%;
   align-items: center;
}

.key-list{
   background: violet;
   width: 15%;
}

.footer-list-product{
   background: #0e80e4;
   height: 20%;
}

.show-image{
   background: rgb(248, 244, 6);
   height: 60%;
}



