hr{
   border: 1px solid rgba(0, 0, 0, .5);
}

.wrapper-footer{
   margin-top: 20px;
   margin-right: auto;
   margin-left:  auto;
   width: 1200px;
}
.sub-wrapper-footer{
   height: 100%;
   display: flex;
}

.sub-bottom{
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgba(0, 0, 0, .5)
}

.footer-left{
   display: flex;
   flex: 1;
}

.footer-right{
   display: flex;
   flex: 1;
}

.sub-footer{
   flex: 1;
   margin: 5px;
}

.sub-footer-right{
   flex: 2;
   background: #3d0505;
   margin: 5px;
}

.title-footer{
   font-weight: 600;
   font-size: 14px;
   color: rgba(0, 0, 0, .5);
   margin-bottom: 10px;
}

.tentang-me{
   list-style: none;
   display: block;
}

.tentang-me li{
   margin-bottom: 5px;
}

.tentang-me li a{
   text-decoration: none;
   text-transform: capitalize;
   color: rgba(0, 0, 0, .5);
   font-size: 14px;
   font-weight: 400;
}