.header-ecomers{
   position: fixed;
   width: 100%;
   top: 0;
   background: linear-gradient( #03a5f0, #34b7f1)
}

.colom{
   display: flex;
}

.sub-colom{
   display: flex;
   flex:1;
   padding: 10px;
}

.sub-colom-left{
   justify-content: flex-start;
}

.sub-colom-right{
   justify-content: flex-end;
   padding-right: 30px;
}

.sub-colom a{
   text-decoration: none;
   margin-right: 10px;
   color: #ffffff;
   font-weight: 400;
}





.sub-colom-1{
   flex: 1;
}

.sub-colom-2{
   flex: 2;
   padding: 5px;
}

.sub-colom-3{
   display: flex;
   flex: 1;
   flex-direction: row;
   align-items: center;
}
.sub-colom-3 span{
   color: #3f4d51;
}

.link-accunt{
   margin-right: 10px;
   margin-left: 20px;
}
.link-accunt a{
   text-decoration: none;
   font-weight: 600;
   color:#fff;
}

.search-box{
   width: 100%;
   position: relative;
}

.input-search-box{
   width: 100%;
   padding: 8px 60px 8px 15px;
   box-sizing: border-box;
   border: 2px solid #dddddd;
   color: #aaaaaa;
   font-size: 18px;
   outline: none;
   border-radius: 5px;
   min-width: 400px;
}

.icon-seacrch{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 5px;
   font-weight: 600;
   cursor: pointer;
}