.form-input-text{
   width: 100%;
   border: 1px solid;
   border-radius: 4px;
   height: 39px;
   outline: none;
   padding-left: 15px;
   box-sizing: border-box;
   transition: .3s;
   color:rgba(0, 0, 0, .5);
   font-size: 15px;
   outline: none;
}

.form-error{
   border-color: $border-error;
}

.form-nornal{
   border-color: $border;
}

.form-input-text:focus{
   border-color: $border-active;
}

.title-input-text{
   color: $text;
   font-weight: 400;
   margin-top: 10px;
   margin-bottom: 5px;
}

.message-error{
   font-size: 14px;
   color: $border-error;
}