.form-input-text{
   width: 100%;
   border: 1px solid;
   border-radius: 4px;
   height: 39px;
   outline: none;
   padding-left: 15px;
   box-sizing: border-box;
   transition: .3s;
   color:dimgray;
   font-size: 15px;
   outline: none;
}

.form-error{
   border-color: #dc3545;
}

.form-nornal{
   border-color: rgba(0, 0, 0, .3);
}

.form-input-text:focus{
   border-color: dodgerblue;
   // box-shadow: 0 0 2px 0 dodgerblue;
}

.title-input-text{
   color: rgba(0, 0, 0, .5);
   font-weight: 400;
   margin-top: 10px;
   margin-bottom: 5px;
}

.message-error{
   font-size: 14px;
   color: #dc3545;
}