.wrapper-login{
   margin-right: auto;
   margin-left:  auto;
   width: 1200px;
}

.card-login{
   display: flex;
   min-height: 100vh;
}

.sub-card{
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
}

.card-login-form{
   height: 300px;
   width: 300px;
   border: 1px solid #ced4da;
   padding: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 4px;
}

.title-login{
   font-size: 20px;
   align-self: center;
   color: #FA591D;
   font-weight: bold;
   margin-bottom: 10px;
}

.text-link-auth{
   padding-bottom: 5px;
}

.text-link-auth span{
   font-size: 14px;
   color: rgba(0, 0, 0, .5);
}

.text-link-auth span a{
   text-decoration: none;
   color: #FA591D;
   font-weight: 600;
}